[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]emp/
[Tt]mp/
out/
publish/

*.user
*.suo
*.userosscache
*.sln.docstates
*.vcxproj.user
*.csproj.user

.vs/
.idea/
.vscode/
*.sln.iml

*.nupkg
*.snupkg
*.nuspec
packages/
*.cache/
project.lock.json

TestResult*/
TestResults/
*.trx
*.coverage
*.coveragexml

*.pdb
*.mdb
*.tmp
*.log

[Tt]humbs.db
[Dd]esktop.ini
.DS_Store
ehthumbs.db
$RECYCLE.BIN/

appsettings.*.json
secrets.json
.env
.env.*

node_modules/
wwwroot/lib/

_ReSharper*/
*.DotSettings.user

.idea/

.vscode/*

*/wwwroot/css/
*/wwwroot/js/
*/Resources/
*.apk
*.aab
*.ipa
*.app

!/.github/
!/.github/workflows/
