@page "/"

<div class="app-container">
    <div class="sidebar">
        <NavLink class="icon-btn" href="/">
            <i class="bi bi-house"></i>
        </NavLink>

        <NavLink class="icon-btn" href="/schedule">
            <i class="bi bi-calendar"></i>
        </NavLink>

        <button class="icon-btn"><i class="bi bi-folder"></i></button>

        <div class="bottom-user">
            <i class="bi bi-person-circle"></i>
        </div>
    </div>

    <div class="main-content home">
        <h1 style="margin:auto;">Welcome to StudyHub</h1>
    </div>
</div>
